<div class="skip-links">
  <a href="#main">Contenu principal</a>
</div>
<header class="site-header-top site-header-hero" role="banner">

      <div class="site-header-top site-header-top__align">
          <nav class="nav-main nav-main__scroll" role="navigation">
            <ul>
              <li><a href="/">Accueil</a></li>
              {% for page in site.html_pages %}
                {% if page.navigation %}
                {% if page.pagination_info.curr_page == 1 or page.path != "index.html" %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.navigation }}</a></li>
                {% endif %}
                {% endif %}
              {% endfor %}
          </nav>
      </div>
      <div class="wrapper">
      <p class="site-title site-title-hero">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </p>
      </div>
      <nav class="nav-main nav-social">
        <ul>
          <li>
            <a href="https://fr-fr.facebook.com/Arnold-318034885406/" target="_blank" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="64" height="64" viewBox="0 0 64 64"><path d="M36.963 22.048c.092-3.345-.525-8.003.516-9.593 1.9-2.91 9.495-2.154 9.495-2.154V0c-11.982 0-15.904-.5-20.016 3.675-3.66 3.715-3.772 11.01-4.073 18.375h-5.872V32.12h5.938c-.002 10.504.003 22.016 0 31.884h13.954v-32.01h8.042c.625-3.385 1.235-6.036 2.087-9.947H36.963z"/></svg>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/arnoldetc" target="_blank" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.986 43.995998" height="43.996" width="63.986"><path d="M54.152.02L33.252 0 11.534.02C6.1.02 0 3.644 0 8.962v26.474c0 5.316 6.1 8.56 11.534 8.56h42.618c5.432 0 9.834-3.243 9.834-8.56V8.964c0-5.32-4.402-8.945-9.834-8.945zM27.858 32.192l-.126-20.16L41.762 22.2l-13.904 9.993z"/></svg>
              Youtube
            </a>
          </li>
        </ul>
      </nav>
</header>
