<head itemscope itemtype="https://schema.org/WebSite">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} RSS Feed" href="{{ "feed/" | absolute_url }}"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link href="https://res.cloudinary.com/" rel="preconnect" crossorigin>
  <link rel="preload" href="/assets/css/main.css" as="style">
  <link rel="preload" href="/assets/js/fetch-inject.js" as="script">
  <link rel="preload" href="https://res.cloudinary.com/dou0m7u5s/image/fetch/c_limit,f_auto,q_auto,w_800/https://chezarnold.fr/{{ site.data.theme.header }}" as="image">
  <script src="{{ site.url }}assets/js/fetch-inject.js"></script>
  {% seo %}
  <style>
  .site-header-hero {
    {% if site.data.theme.header %}
    background-image: url(https://res.cloudinary.com/dou0m7u5s/image/fetch/c_limit,f_auto,q_auto,w_800/https://chezarnold.fr/{{ site.data.theme.header }}) !important;
    {% else %}
    background-image: url(/assets/images/background-arnold.jpg) !important;
    {% endif %}
  }
  </style>
  <!-- <link rel="preload" href="https://fonts.googleapis.com/css?family=Abel" as="style">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> -->

  <style type="text/css">
    {% capture include_to_scssify %}
      {% include_cached base.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  <script>
    {% include_cached loadCSS.js %}
    loadCSS("{{ '/assets/css/main.css' | relative_url }}");
    {% include_cached localfont.js %}
  </script>
  <link rel="stylesheet" href="{{ "/assets/css/fonts.css" | relative_url }}">
  <noscript><link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}"></noscript>
  {% include favicons.html %}
  {% seo title="false" %}
</head>
