{% if page.previous || page.next %}

<nav class="pagination--prevnext" role="navigation">

  {% if page.previous %}
  <div class="pagination--prev">
    <a class="pagination--item" href="{{ page.previous.url }}">
      {{ page.previous.title }}
    </a>
  </div>
  {% endif %}

  {% if page.next %}
  <div class="pagination--next">
    <a class="pagination--item" href="{{ page.next.url }}">
      {{ page.next.title }}
    </a>
  </div>
  {% endif %}

</nav>
{% else %}
  {% if page.title == 'Je Consomme' %}
  <div class="pagination--prev">
    <a class="pagination--item" href="/actualité/2017/10/03/">
      «&#8239;Je Consomme&#8239;» nouveau clip le 20 octobre&#8239;!
    </a>
  </div>
  <div class="pagination--next">
    <a class="pagination--item" href="/actualité/2017/12/03/">
      Concerts d'hiver
    </a>
  </div>
  {% endif %}
{% endif %}


