
body {
  line-height: $base * $ms2;
  background: #efefef;
}

.site-header-hero {
  position: relative;
  background-position: top center;
	min-height: 65vh;
}

.site-title-hero {
  margin-top: 35vmin;
  background: rgba(0,0,0,0.3);
  letter-spacing: 8px;
  background-repeat: no-repeat;
  text-shadow: 1px 1px #000;
}

label, input, textarea {
	width: 100%;
}

.button.button--warning{
	color: #000;
}

.nav-main {
  a {
    text-shadow: 1px 1px #000;
  }
}

.nav-social {
  padding: 0 0 $base-line/2;
  width: 100%;
  background: rgba(0,0,0,0.3);
  ul {
    text-align: center;
  }
  a {
    line-height: 0.8;
    vertical-align: bottom;
    &:hover {
      text-decoration: underline;
    }
  }
  svg {
    max-width: 15px;
    max-height: 15px;
    vertical-align: bottom;

    fill: #fff;
  }
}

.post {
  img, iframe, embed {
    display: block;
    margin: 1em auto;
  }
}

time {
  font-weight: bold;
  span {
    margin: 0 0 0 0.3em;
    padding: 0.1em $base-line/4;
    font-size: 0%;
    color: #fff;
    border-radius: 1px;
    background: $color-primary;
  }
}

.block-video {
  margin-bottom: $base-line;
}

.block-timeline {
  padding: $base-line;
  background: #fff;
  h2 {
    font-size: $bigger;
  }
}

.block-timeline__grid {
  grid-gap: 0;

  @include grid(2);
}

.block-timeline__element {
  padding: $base-line;
  border-right: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  &:last-child {
    border-right: 1px solid rgba(0,0,0,0.1);
  }
}

.block-album {
  @supports (display:flex) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     > * {
      flex: 0 0 24.5%;
    }
  }
  @supports (display:grid) {
    @include grid(4);
  }
}

.block-album__element {
  position: relative;
  background: #333;
  a {
    display: block;
    &:hover:after {
      position: absolute;
      content: '';
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.2);

      let: 0;
    }
    &:hover h3 {
      bottom: 0.1em;
    }
  }
  img {
    margin: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  h3 {
    position: absolute;
    right: $base-line/4;
    bottom: 0;
    left: $base-line/4;
    font-size: $normal;
    transition: bottom 0.2s ease;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px #000;
  }
}

.block-album-page {
  @include grid(2);
}

.block-album-page__element-int {
  display: flex;
  img {
    margin-right: $base-line/2;
    max-width: 120px;
    max-height: 120px;
  }
}

.block-song__element {
  display: flex;
}
