@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

$base-font-name: Abel;
$title-font-name: Abel;

// Configuration
@import "overkyll/overkyll";

$default:              	 #7f8c8d;
$success:                $color-secondary;
$danger:            	   #c0392b;
$warning:            		 #f1c40f;
$info:              	   #2980b9;

@import "elements/buttons";
@import "elements/form";
//@import "elements/buttons";


label, input, textarea {
	width: 100%;
}

.button.button--warning{
	color: #000;
}

.site-header-hero {
	position: relative;
	min-height: 35vmin;
	background-image: url(/assets/images/background-arnold.jpg);
}