@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

$base-font-name: DIN;
$title-font-name: DIN;

// Configuration
@import "overkyll/overkyll";

$default:              	 #7f8c8d;
$success:                $color-secondary;
$danger:            	   #c0392b;
$warning:            		 #f1c40f;
$info:              	   #2980b9;

@import "elements/buttons";
@import "elements/form";
//@import "elements/buttons";

