---
layout: default
---

<div class="wrapper">
  <article class="post">
    <h1 class="post-title">{{ page.title }} - {{ page.annee }}</h1>
    {{ content | markdownify }}
    <img src="/assets/images/{{ page.title | slugify }}.jpg">
    {% if page.streaming %}
    <h2>Écoutez cet album en ligne</h2>
    {% for service in page.streaming %}
    <a href="{{ service.url }}">{{ service.nom }}</a>
    {% endfor %}
    {% endif%}
    {% if page.musiciens %}
    <h2>Les musiciens</h2>
    {% for musicien in page.musiciens %}
    {{ musicien }}<br>
    {% endfor %}
    {% endif%}
  </article>
</div>
