---
layout: default
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="page" itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <main id="main">
      {{ content }}
    </main>
    <script src={{ "/assets/js/instantclick.min.js" | relative_url }}  data-no-instant></script>
    <script data-no-instant>
      InstantClick.init();
    </script>
    {% if page.video %}
    <link rel="stylesheet" href="/assets/css//basicLightbox.min.css">
    <script src="/assets/js//basicLightbox.min.js"></script>
    <script>
      const getTargetHTML = function (elem) {

        const id = elem.getAttribute('data-show-id')
        const target = document.querySelector(`[data-id="${id}"]`)

        return target.outerHTML

      }

      Array.prototype.forEach.call(document.querySelectorAll('[data-show-id]'), function (elem) {

        const html = getTargetHTML(elem)

        elem.onclick = basicLightbox.create(html).show

      })

    </script>
    {% endif %}
  </body>
</html>
