---
layout: default
---

<div class="wrapper">
  <article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%d/%m/%Y" }}</p>
    {% if page.image %}
    <img src="https://res.cloudinary.com/dou0m7u5s/image/fetch/c_limit,f_auto,q_auto,w_800/{{ site.url }}/{{ post.image }}" alt="{{ page.title }}">
    {% endif %}
    {{ content | markdownify }}
    {% assign videos = page.videos %}
    {% if videos %}
    <h2>Vidéos</h2>
    {% endif %}
    {% include video.html %}
  </article>
  {% include pagination.html %}
</div>
